.test{
 
    position: absolute;
  
    color: #000;
    /* z-index: 9; */
    top: 55px;
    /* display: none; */
   
    overflow: hidden;
    white-space: nowrap;
}

x{
  z-index: 9999999999999999999999999999999999;
  position: relative;
}
.rightsidebar{
  top:0;
  right: 0;
  position: absolute;
  z-index: 999999999999999;
}
.closeIcon{
  top:20px;
  right: 20px;
  position: absolute;
}
.strike{
  text-decoration: line-through;
}
.bg-cyan-600{
  background-color: #efefeb;
}
.bg-cyan-6000{
  background-color: #f9f9f5;
}
.text-slate-100{
  color: #757575
}
.bg-cyan-800{
  background-color: #50808e
}
.bg-yellow-500{
  background-color: #f28482;
}
.poppins{
  font-family: 'Poppins', sans-serif;
}
.showMoreText{
  text-decoration: none;
  font-weight: 600;
}
.ratingStar{
 
  overflow: hidden;
  filter: brightness(0.85);
}