
.test{
 
    position: absolute;
  
    color: #000;
    /* z-index: 9; */
    top: 55px;
    /* display: none; */
   
    overflow: hidden;
    white-space: nowrap;
}

x{
  z-index: 9999999999999999999999999999999999;
  position: relative;
}
.rightsidebar{
  top:0;
  right: 0;
  position: absolute;
  z-index: 999999999999999;
}
.closeIcon{
  top:20px;
  right: 20px;
  position: absolute;
}
.strike{
  text-decoration: line-through;
}
.bg-cyan-600{
  background-color: #efefeb;
}
.bg-cyan-6000{
  background-color: #f9f9f5;
}
.text-slate-100{
  color: #757575
}
.bg-cyan-800{
  background-color: #50808e
}
.bg-yellow-500{
  background-color: #f28482;
}
.poppins{
  font-family: 'Poppins', sans-serif;
}
.showMoreText{
  text-decoration: none;
  font-weight: 600;
}
.ratingStar{
 
  overflow: hidden;
  filter: brightness(0.85);
}
.multi-range-slider {
  display: flex;
  position: relative;
  border: none !important;
  box-shadow: none !important;
  /* border: solid 1px gray; */
  /* border-radius: 10px; */
  padding: 20px 10px;
  /* box-shadow: 1px 1px 4px black; */
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
 .ruler-rule {
  display: none !important;
}
.multi-range-slider .bar-inner {
  background-color: #50808e !important;
}
.multi-range-slider .thumb::before { 
  background-color: #50808e !important;
  border: none !important;
  box-shadow: none !important;
}
.input-group span {
  position: absolute;
  top: 11px;
  
 
}

/* .icon-placeholder:not(:placeholder-shown) ~ span {
  display: none;
} */
